.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aviao {
    color: blueviolet;
    font-size: 200px;
}

.alarme {
    color: brown;
    font-size: 250px;
}

.android {
    color: forestgreen;
    font-size: 150px;
}